.additional__strip {
  display: flex;
  position: relative;
}

.additional__strip::before {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  top: 35px;
  background: #68b738;
  border-width: 0 10px;

  @media (min-width: $tablet-width) {
    top: 55px;
  }
}

.additional__extra {
  z-index: 10;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1300px;
  }
}

.additional__heading {
  width: auto;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 36px;
    line-height: 1;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 440px;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 57px;

  @media (min-width: $desktop-width) {
    width: 870px;
  }
}

.additional__item {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__item:not(:last-child) {
  margin-bottom: 42px;
}

.additional__title {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional__description {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  min-width: 200px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional__span {
  @media (min-width: $desktop-width) {
    width: 60%;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.additional__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.additional__background {
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
  width: 100%;
  min-height: 289px;
  background-image: url("../img/price@1x.jpg");
  background-size: cover;
  color: #ffffff;
  margin-bottom: 63px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: url("../img/price@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;
    background-image: url("../img/price@1x.jpg");
  }
}

.additional__text {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-width: 600px;
    align-items: center;
  }
}

.additional__price {
  font-family: $font-arial;
  font-weight: 400;
  margin: 0 auto;
  width: 160px;
  text-align: center;
  padding-top: 186px;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    width: auto;
    padding-top: 10%;
    padding-left: 423px;
    padding-right: 124px;
    padding-bottom: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 185px;
    padding-bottom: 20px;
    max-width: 163px;
    text-align: center;
    margin: 0 auto;
  }
}

.additional__price::before {
  content: "";
  position: absolute;
  background-image: url("../img/surprise.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 78px;
  height: 80px;
  top: 65px;
  left: 40px;
}
