.additional__strip {
  display: flex;
  position: relative;
}

.additional__strip::before {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  top: 35px;
  background: #68b738;
  border-width: 0 10px;

  @media (min-width: $tablet-width) {
    top: 23px;
  }
}

.additional__extra {
  z-index: 10;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1300px;
  }
}

.additional__heading {
  width: auto;
  margin: 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 36px;
    line-height: 1;
    padding-top: 0;
    padding-left: 37px;
    padding-right: 36px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 414px;
    padding-left: 40px;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    border: none;
  }
}

.additional__item {
  border-top: 1px solid #cdcdcd;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    border: none;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 27px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #cdcdcd;
  }
}

.additional__item:last-child {
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.additional__title {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding-top: 13px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 16px;
  }
}

.additional__description {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 29px;
    margin-bottom: 22px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 23px;
    width: 275px;
    justify-content: space-between;
  }
}

.additional__span {
  @media (min-width: $tablet-width) {
    text-align: right;
    margin-right: 48px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.additional__button {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-top: 15px;
    margin-left: 30px;
  }
}

.additional__background {
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
  width: 100%;
  min-height: 289px;
  background-image: url("../img/gift1@1x.jpg");
  background-size: cover;
  background-color: #68b738;
  color: #ffffff;
  margin-bottom: 36px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift1@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-bottom: 75px;
    background-image: url("../img/price@2x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift2@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;
    margin-bottom: 86px;
    background-image: url("../img/price@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift1@2x.jpg");
    }
  }
}

.additional__text {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-width: 600px;
    align-items: center;
  }
}

.additional__price {
  font-family: $font-arial;
  font-weight: 400;
  margin: 0 auto;
  width: 161px;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    width: auto;
    padding-top: 10%;
    padding-left: 423px;
    padding-right: 124px;
    padding-bottom: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 187px;
    padding-bottom: 20px;
    max-width: 163px;
    text-align: center;
    margin: 0 auto;
  }
}

.additional__price::before {
  content: "";
  position: absolute;
  background-image: url("../img/surprise.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 78px;
  height: 80px;
  top: 58px;
  left: 41px;

  @media (min-width: $tablet-width) {
    top: 37%;
    left: 11%;
  }

  @media (min-width: $desktop-width) {
    top: 57px;
    left: 45px;
  }
}
