.button {
  min-width: 168px;
  min-height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
