.catalogs__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 27px;

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.catalogs__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalogs__item {
  padding-left: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 52px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.catalogs__item:not(:last-child) {
  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}
