.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 49px;
}

.catalog__column {
  font-size: 12px;
  line-height: 1.33;
}

.catalog__heading {
  margin-bottom: 14px;
}

.catalog__link-text {
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}

.catalog__table {
  margin-bottom: 22px;
}

.catalog__button {
  margin-bottom: 33px;
}
