.features__title {
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 1.11;
}

.features__list {
  margin-bottom: 42px;
}

.features__descriptions {
  margin-bottom: 20px;
  font-family: $font-arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}
