.form__heading {
  font-size: 36px;
  line-height: 1;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-left: 29px;
    padding-right: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}
