.information-extra {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
  }
}

.information-extra__strip {
  display: flex;
  position: relative;
}

.information-extra__wrapper {
  z-index: 10;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1300px;
  }
}

.information-extra__heading {
  width: 100%;
  font-size: 24px;
  line-height: 1.08;
  margin-bottom: 23px;
  background-color: #ffffff;
  padding-right: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding-left: 30px;
    padding-right: 40px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
    padding-left: calc(50% - 650px);
  }
}

.information-extra__heading::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  height: 0.7em;
  border-bottom: 2px solid #68b738;
}

.information-extra__span {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  z-index: 11;
  padding-left: 19px;
  padding-right: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 39px;
    padding-right: 42px;
  }
}

.information-extra__group {
  padding: 0;
  list-style: none;
  padding-left: 66px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 129px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 100%;
    padding-left: 169px;
    margin: 0 auto;
  }
}

.information-extra__option {
  font-size: 16px;
  line-height: 1.13;
  margin-bottom: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 46.3%;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    width: 296px;
    margin-bottom: 64px;
  }
}

.information-extra__option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.information-extra__checkbox + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  left: -46px;
  top: -5px;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -59px;
    top: -5px;
  }
}

.information-extra__checkbox + label:hover::before {
  border: 1px solid #bababa;
}

.information-extra__checkbox + label:active::before {
  border: 1px solid #000000;
}

.information-extra__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../img/checked.svg");
  left: -33px;
  top: 3px;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    left: -47px;
    top: 8px;
  }
}

.information-extra__checkbox:disabled + label {
  opacity: 0.3;
}
