.information-details {
  margin: 0;
  padding: 0;
  border: none;
}

.information-details__strip {
  display: flex;
  position: relative;
}

.information-details__strip::before {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  top: 15px;
  background: #68b738;
  border-width: 0 10px;

  @media (min-width: $tablet-width) {
    top: 20px;
  }
}

.information-details__wrapper {
  z-index: 10;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1300px;
  }
}

.information-details__heading {
  width: 221px;
  font-size: 24px;
  line-height: 1.08;
  margin-bottom: 32px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 36px;
    line-height: 1;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.information-details__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}

.information-details__input {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.information-details__label {
  margin-right: 14px;
}

.information-details__rectangle {
  border: 1px solid #e7e7e7;
  color: #444444;
  font-style: $font-oswald;
  font-weight: 400;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #e7e7e7;
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid red;
  }

  &:focus::placeholder {
    color: transparent;
  }
}
