.information-extra__heading {
  padding-left: 20px;
  font-size: 24px;
  line-height: 1.08;
  font-weight: bold;
}

.information-extra__group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.information-extra__option {
  font-size: 16px;
  line-height: 1.13;
}
