.information__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }
}
