.information-data {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.13;
  border: none;
  margin-bottom: 27px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 46.8%;
    margin-bottom: 39px;
  }
}

.information-data__input {
  font-size: 16px;
  line-height: 1.13;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

.information-data__group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.information-data__label {
  text-transform: uppercase;
  margin-right: 14px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}

.information-data__rectangle {
  min-height: 46px;
  border: 1px solid #e7e7e7;
  color: #444444;
  font-family: $font-oswald;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
  width: 100%;
  padding-left: 15px;


  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
    padding-left: 14px;
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid red;
  }

  &:focus::placeholder {
    color: transparent;
  }

  @media (min-width: $tablet-width) {
    min-height: 52px;
    padding-left: 19px;

    &:focus {
      padding-left: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;

    &:focus {
      padding-left: 19px;
    }
  }
}

.information-data__rectangle::-webkit-outer-spin-button,
.information-data__rectangle::-webkit-inner-spin-button {
  appearance: none;
}
