.information__wrapper {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 100%;
    padding: 0 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
