.information-radio {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.13;
  border: none;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: $tablet-width) {
    width: 60%;
  }
}

.information-radio__group {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 50px;
}

.information-radio__input {
  margin-bottom: 25px;
}

.information-radio__group label {
  position: relative;
  display: block;
}

.information-radio__checkbox + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  left: -50px;
  top: -5px;
  background-repeat: no-repeat;
  background-position: 0 0;


  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.information-radio__checkbox + label:hover::before {
  border: 1px solid #bababa;
}

.information-radio__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  border: 7px solid #68b738;
  left: -42px;
  top: 3px;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    border: 9px solid #68b738;
    left: -39px;
    top: 6px;
  }
}

.information-radio__checkbox:disabled + label {
  opacity: 0.3;
}
