.location {
  position: relative;
}

.location__info {
  text-align: center;
  margin-bottom: 22px;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    height: 201px;
    background-color: #ffffff;
  }
}

.location__dilers {
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
}

.location__address {
  font-family: $font-arial;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}
