.page-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
}

.page-header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 66px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    margin-bottom: 10px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 120px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
    padding-top: 53px;
    padding-bottom: 76px;
  }
}

.page-header__logo {
  width: 230px;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 14px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 175px;
    height: 55px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    height: 60px;
    width: 205px;
  }
}

.page-header__img {
  @media (min-width: $tablet-width) {
    height: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 201px;
    height: 60px;
  }
}
