.page-footer {
  padding-bottom: 22px;
}

.page-footer__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.page-footer__conteiner {
  display: flex;
  justify-content: space-between;
}

.page-footer__logo {
  margin-bottom: 32px;
  text-align: center;
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  height: 27px;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}
