.page-footer {
  padding-bottom: 22px;
}

.page-footer__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.page-footer__conteiner {
  display: flex;
  justify-content: space-between;
}

.page-footer__logo {
  text-align: center;

  @media (max-width: 767px) {
    margin-bottom: 32px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  height: 27px;
  fill: #666666;
  color: #444444;

  &:hover {
    fill: #68b738;
    color: #68b738;
  }

  &:focus {
    fill: #68b738;
    color: #68b738;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}
