.promo-header {
  background-color: $green;
}

.promo-header__heading {
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
}

.promo-header__slogan {
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}

.promo-header__program {
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
}
