.promo {
  margin-bottom: 21px;
  background-image: url("../img/index-background-mobile2@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile2@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-color: #68b738;
    background-image: url("../img/index-background-desktop1@1x.jpg");
    width: 50%;
    height: 694px;
    background-size: cover;
    right: 0;
    top: 0;
    z-index: 9;
    opacity: 0.2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-desktop1@2x.jpg");
    }
  }
}

.promo::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 50%;
    height: 694px;
    right: 0;
    top: 0;
    z-index: 8;
  }
}

.promo__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 100%;
    padding: 0 110px;
    padding-top: 36px;
    margin: 0 auto;
    background: none;
  }
}

.promo__wrapper::before {
  @media (max-width: 767px) {
    content: "";
    position: absolute;
    background-color: $background-green;
    width: 100%;
    height: 302px;
  }
}

.promo__header {
  margin: 0;
  padding: 0 20px;
  width: auto;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    margin-bottom: 558px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-left: 80px;
    min-height: 500px;
  }
}

/*
.promo__header::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../img/index-can.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 552px;
    height: 100%;
    z-index: 11;
    left: 450px;
    top: -80px;
  }
}
*/

.promo__heading {
  width: 280px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 27px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    color: #000000;
    width: 550px;
    margin: 0;
    text-align: left;
    padding-left: 97px;
    padding-top: 50px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
    padding: 0;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 302px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    max-width: 700px;
    font-size: 20px;
    color: #000000;
    text-align: left;
    margin-bottom: 49px;
    padding-left: 98px;
    position: relative;
    z-index: 11;
  }

  @media (min-width: $desktop-width) {
    max-width: 450px;
    padding: 0;
    margin-bottom: 53px;
  }
}

.promo__program {
  margin: 0 auto;
  z-index: 5;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 330px;
    left: 112px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 330px;
    left: 190px;
  }
}

.promo__button {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 11;

  @media (min-width: $tablet-width) {
    width: 244px;
    min-height: 54px;
    margin-left: 92px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.promo__logo {
  position: absolute;
  top: 167px;
  left: calc(50% - 140px);
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    top: 251px;
    left: calc(50% - 355px);
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: -81px;
    left: 448px;
  }
}
