.site-nav {
  z-index: 20;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    display: flex;
    min-width: 500px;
    flex-wrap: wrap;
    flex-shrink: 3;
  }
}

.site-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  cursor: pointer;
  border: none;
}

.site-nav--closed .site-nav__toggle::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 17px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0#000000, 0 16px 0 0#000000;
}

.site-nav--closed .site-nav__toggle:active::before {
  background-color: fade(#000000, 30%);
  box-shadow:
    0 8px 0 0 fade(#000000, 30%),
    0 16px 0 0 fade(#000000, 30%);
}

@media (max-width: 767px) {
  .site-nav--closed .site-nav__list {
    display: none;

    &--active {
      display: block;
    }
  }

  .site-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }

  .site-nav--opened .site-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
  }

  .site-nav--opened .site-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px fade(#000000, 40%);
  }

  .site-nav--nojs .site-nav__toggle {
    display: none;
  }

  .site-nav--nojs .site-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .site-nav--nojs .site-list__item {
    display: block;
  }

  .site-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }

  .site-nav--nojs {
    display: block;
  }
}

.site-nav--opened .site-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 18px;
    width: 23px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#000000, 30%);
  }
}


.site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 36px;
    padding-top: 14px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
  }
}
