.site-nav__toggle {
  background: none;
  border: none;
  padding: 0;
  width: 24px;
  height: 18px;
  background-image: url("/img/naw-toogle.svg");
}

.site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
