.slider__text {
  padding-top: 270px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 570px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 600px;
  }
}

.slider__button {
  padding: 0;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 84px;
  height: 6px;
  border: 3px solid #dcdcdc;
  border-radius: 3px;
  background-color: #dcdcdc;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 75%;
  }
}

.slider__button::before {
  content: "";
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider__button::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #68b738;
}

.slider {
  position: relative;
  min-height: 320px;

  @media (min-width: $tablet-width) {
    min-width: 677px;
    min-height: 620px;
  }

  @media (min-width: $desktop-width) {
    min-width: 677px;
    min-height: 656px;
  }
}

.slider__image {
  position: absolute;
}

.slider__image--first {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
}

.slider__image--second {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    clip-path: polygon(44% 0, 100% 0, 100% 100%, 44% 100%);
    left: 98px;
  }

  @media (min-width: $desktop-width) {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    left: 66px;
  }
}
