.slider__text {
  width: 200px;
  margin: 0 auto;
  padding-top: 265px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-width: 574px;
    padding-top: 355px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    padding-top: 493px;
    z-index: 21;
  }
}

.slider__span {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px dashed rgba($color: #000000, $alpha: 0.24);
  }

  @media (min-width: $desktop-width) {
    z-index: 21;
  }
}

.slider__button-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
    content: "";
    top: 377px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6px;
    border: 3px solid #dcdcdc;
    border-radius: 3px;
    background-color: #dcdcdc;
    outline: none;
    width: 63%;
  }

  @media (min-width: $desktop-width) {
    top: 515px;
    width: 53%;
    z-index: 21;
  }
}

.slider__button {
  position: absolute;
  bottom: 39px;
  left: calc(50% - 40px);
  width: 84px;
  height: 14px;
  background-image: url("../img/slider.jpg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background-image: none;
    content: "";
    position: absolute;
    top: -15px;
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.slider__button::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
  }
}

.slider {
  position: relative;
  min-height: 320px;
  padding-left: calc(50% - 160px);
  padding-right: calc(50% - 160px);

  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
    min-width: 677px;
    min-height: 460px;
    padding-left: calc(50% - 338px);
    padding-right: calc(50% - 338px);
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    width: 62%;
    padding-left: 0;
    padding-right: 0;
    min-width: 677px;
  }
}

.slider__image {
  position: absolute;
}

.slider__image--first {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    top: -173px;
  }

  @media (min-width: $desktop-width) {
    clip-path: polygon(0 0, 54% 0, 54% 100%, 0 100%);
    top: -56px;
    left: 33px;
    z-index: 21;
  }
}

.slider__image--second {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 45% 100%);
    left: calc(50% - 247px);
    top: -173px;
  }

  @media (min-width: $desktop-width) {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    left: 125px;
    top: -56px;
    z-index: 21;
  }
}
