.slider__text {
  width: 228px;
  margin: 0 auto;
  padding-top: 270px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-top: 570px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 600px;
  }
}

.slider__span {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.slider__button-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
    content: "";
    top: 592px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6px;
    border: 3px solid #dcdcdc;
    border-radius: 3px;
    background-color: #dcdcdc;
    outline: none;
    width: 75%;
  }

  @media (min-width: $desktop-width) {
    top: 622px;
  }
}

.slider__button {
  position: absolute;
  bottom: 33px;
  left: calc(50% - 42px);
  width: 84px;
  height: 14px;
  background-image: url("../img/slider.jpg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background-image: none;
    content: "";
    position: absolute;
    top: -15px;
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.slider__button::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
  }
}

.slider {
  position: relative;
  min-height: 320px;

  @media (min-width: $tablet-width) {
    min-width: 677px;
    min-height: 620px;
  }

  @media (min-width: $desktop-width) {
    min-width: 677px;
    min-height: 656px;
  }
}

.slider__image {
  position: absolute;
}

.slider__image--first {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
}

.slider__image--second {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    clip-path: polygon(44% 0, 100% 0, 100% 100%, 44% 100%);
    left: 98px;
  }

  @media (min-width: $desktop-width) {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    left: 66px;
  }
}
