.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
}

.social__item {
  width: 22px;
  height: 22px;
}

.social__link {
  display: block;
  box-sizing: border-box;
  height: 22px;
}
