.social__list {
  margin: 0 auto;
  padding: 0;
  width: 130px;
  list-style: none;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
}

.social__item {
  width: 23px;
  height: 22px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 33px;
  }
}

.social__link {
  display: block;
  box-sizing: border-box;
  height: 16px;
  stroke: #666666;
  fill: #666666;

  &:hover {
    stroke: #68b738;
    fill: #68b738;
  }

  &:focus {
    stroke: #68b738;
    fill: #68b738;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    height: 33px;
  }
}

.social__link-vk {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link-insta {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link-fb {
  width: 22px;
  height: 22px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}
