.stats {
  position: relative;
  width: 122px;
}

.stats::before {
  content: "";
  position: absolute;
  width: 124px;
  height: 56px;
  background-image: url("../img/frame.svg");
  top: -14px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    background-image: url("../img/frame2.svg");
    left: -20px;
    top: -16px;
  }
}

.stats__number {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 13px;
  }
}

.stats__info {
  font-family: $font-arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  width: 80px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 129px;
    font-size: 14px;
  }
}
